
    body{
        margin: 0;
        height: 100%;
    }
    .header{
        padding: 15px 0;
        background-color: #00FF00;
    }
    .header_content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 0px solid green;
    }
    .logo-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        border: 0px solid green;
    }
    .logo-content img{
        border: 0px solid #42515f;
    }
    .text-emp{
        font: normal normal bold 20px/25px montserrat;
        font-family: sans-serif;
        color: blue;
        letter-spacing: 0px;
        text-transform: capitalize;
    }
    .emp-pay{color: brown;
    }
    *{box-sizing: border-box;}
    .form-content{
        min-height: calc(100% - 80px);
        align-items: center;
        display: flex;
        justify-content: center;
        border: 0px solid red;
        background-color: #f7f7f7;
    }
    .form{
        width: 60%;
        padding: 44px 60px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid gray;
        border-radius: 8px;
        opacity: 1;
    }
    .form-head{
        letter-spacing: 0px;
        align-items: center;
        color: red;
        font: normal normal bold 24px/40px;
        opacity: 1;
        padding-bottom: 20px;
        text-align: center;
        font-size: 22px;
    }
    #first{
        color: #800080;
    }
    #Third{
        color: #000080;
    }
    .row-content{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        align-items: center;
        border: 0px solid burlywood;
    }
    label{
        padding: 14px 14px 14px 0px;
        display: inline-block;
    }
    .text{
        font-size: 16px;
        color: cadetblue;
        opacity: 1;
        font-family: serif;
    }
    .input{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #C0C0C0;
        resize: vertical;
    }
    .profile-radio-content{
        display: flex;
        flex-direction: row;
       }
       .profile{
        width: 40%;
        border-radius: 50%;
        margin-left: 12px;
       }
       .profile-radio-content > label{
        display: flex;
        flex-direction: row;
        align-items: center;
       }
       select{
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        font: normal normal normal 16px Roboto;
        letter-spacing: 0px;
        color: cadetblue;
        background-color: transparent;
       }